.TheWoman{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    margin-top: 10px;
}
body{
    background-image: url(images/pic-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.section1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    
}

.manImage{
    height: 600px;
}
.ImagesGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}
/* .ImagesGridBorder{
    border: 5px solid goldenrod;
} */
.womanStyle{
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ImagesGridBorderImage{
    border-bottom: 5px solid aqua;
    align-content: center;
}



.design{
    font-size: xx-large;
    text-align: center;
    font-weight:900;
    padding: 40px;
    border-radius: 120px;
}
.last{
    color:deeppink;
}
.orange{
    color: orange;
}
body{
    font-family: 'Anton', sans-serif;
}
h1{
    font-size: 85px;
}


.half-width{
    width: 50% ;
    padding-left: 6%;
    padding-top: 12%;
}
.half-width img{
    width: 100%;
    padding-top: 2%;
}
.order-food{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 30px 50px;
    color: white;
    font-weight: 700px;
    border-radius: 60px;
    font-size: larger;
}
.section2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
    background-image: url(images/bac.jpg);
}
h2{
    color: gray;
    text-align: center;
}
.new-add{
    text-align: center;
}


.mango{
    width: 27.33%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 60px;
}
.mango img{
    border-radius: 60px;
}
.peyara{
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 60px;

}
h4{
    text-align: center;
}
.section4{
    text-align: center;
    background-color:rgba(12, 11, 11, 0.568);
    padding-left: 10px;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 200px;
    color: wheat;
    width: 100%;
    margin-top: 50px;
}
.pakna{
    font-size: x-large;
    color: lightyellow;
}
.panda{
    font-size: small;
    color: violet;
}
.killa{
    font-size: x-large;
    color: yellow;
}

/* @media only screen and (max-width:688px) {
    .section2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 5px;
        background-image: none;
    }
    .womanStyle img{
        height: 400px;
        margin-top: 300px;
        margin-right: 150px;

    }
    .add-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        width:100%;
        margin-right: 0px;
       
    }
} */
@media only screen and (min-width:689px) and (max-width:1700px){
    .containers{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}